.popover {
  position: relative;

  .tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    padding: 4px 8px;
    border: $border-m;
    background-color: var(--surface-200);
    color: var(--on-surface-100);
    transform: translateY(-50%);
  }
  .arrow {
    position: absolute;
    top: 50%;
    left: -5px;
    display: none;
    width: 10px;
    height: 10px;
    background-color: var(--on-surface-100);
    transform: translateY(-50%) rotate(45deg);
  }
}

.popover.hovered {
  .arrow {
    display: inline;
  }
}
