.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: var(--spacing-base);
}

@include respond(medium) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0;
  }
}

@include respond(small) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-s);
  }
}
