.card {
  position: relative;
  width: 50%;
  margin-bottom: 3rem;

  &::after {
    position: absolute;
    z-index: 99;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--surface-500);
    content: '';

    @include respond(tablet) {
      display: none;
    }
  }

  &:nth-child(odd) {
    right: 2.25rem;
    text-align: right;

    &::after {
      right: -3rem;
    }

    @include respond(tablet) {
      right: 0;
    }
  }

  &:nth-child(even) {
    left: 2.25rem;
    margin-left: auto;

    &::after {
      left: -3rem;
    }

    @include respond(tablet) {
      left: 0;
    }
  }

  @include respond(tablet) {
    width: 100%;

    &:nth-child(even) {
      margin-left: unset;
    }

    &:nth-child(odd) {
      text-align: unset;
    }
  }
}

.title {
  @include font-size(1.1rem, 1.2rem);
  color: var(--primary);
  font-weight: 600;
}

.period {
  @include font-size(0.7rem, 0.8rem);
  color: var(--on-surface-300);
}

.description {
  @include font-size(0.8rem, 0.9rem);
  margin-top: 1rem;
}
