.item {
  margin-bottom: var(--spacing-md);
  color: var(--color-text-3);
  transform-origin: top;
  will-change: transform, opacity;

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    color: var(--color-text-1);
    font-weight: 800;
  }
}
