.Expertise {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-s);
}

@include respond(medium) {
  .Expertise {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond(small) {
  .Expertise {
    grid-template-columns: 1fr;
  }
}
