.card {
  width: 100%;
  height: 100%;
  margin-bottom: var(--spacing-m);
  padding: var(--spacing-xl);
  border: $border-s;
  border-radius: $radius-s;
  text-align: center;

  p {
    max-width: 500px;
    margin: 0 auto;
  }
}

.Expertise {
  .title {
    margin-bottom: var(--spacing-m);
    color: var(--primary-100);
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    color: var(--color-text-3);
  }
}
