.Section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: fit-content;
  margin: 0 auto;
  padding: 3rem;

  header {
    margin-bottom: 2rem;
  }

  @include respond(laptop_s) {
    margin-left: unset;
    padding: 3rem 2rem;
  }

  @include respond(tablet) {
    margin-left: unset;
    padding: 3rem 0rem;
  }
}
