.Section {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  min-height: 100vh;
  padding: 3rem;
  margin: 0 auto;

  header {
    margin-bottom: 3rem;
  }

  @include respond(laptop_s) {
    padding: 3rem 2rem;
  }

  @include respond(mobile_l) {
    padding: 3rem 1rem;
  }
}
