.PageLayout {
  position: relative;

  .container {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;

    @include respond(laptop_s) {
      gap: 5rem;
    }

    @include respond(tablet) {
      display: block;
    }
  }
}
