.notification {
  position: relative;
  min-width: 10rem;
  max-width: 500px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border: $border-m;
  border-radius: $radius_1 0 $radius_1 $radius_1;
  background-color: var(--color-surface-1);
}

.inner {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  color: var(--color-text-1);
  font-weight: 400;

  strong {
    text-transform: capitalize;
  }

  @include respond(mobile_l) {
    padding: 2rem;
    border-radius: 0;

    span {
      font-size: 1.2rem;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.error {
  border-color: var(--color-error);

  .inner {
    background-color: rgba(var(--rgb-color-error), 0.01);

    strong {
      color: var(--color-error);
    }
  }
}

.warning {
  border-color: var(--color-warning);

  .inner {
    background-color: rgba(var(--rgb-color-warning), 0.01);

    strong {
      color: var(--color-warning);
    }
  }
}

.success {
  border-color: var(--color-success);

  .inner {
    background-color: rgba(var(--rgb-color-success), 0.01);

    strong {
      color: var(--color-success);
    }
  }
}

@include respond(mobile_l) {
  .notification {
    padding-top: 0.5rem;
    border-radius: 0;
    font-size: 1rem;

    .inner {
      padding: 1rem;
    }
  }

  .close {
    font-size: 2.4rem;
  }
}
