.card {
  width: 100%;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius-s;

  .header {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    font-weight: 500;

    .title {
      color: var(--color-text-1);
      font-weight: 600;
      font-size: var(--font-size-md);
      white-space: nowrap;
    }

    .company {
      display: flex;
      align-items: center;
      gap: var(--spacing-s);
      white-space: nowrap;

      p {
        color: var(--primary-100);
        font-weight: 600;
        font-size: var(--font-size-md);

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        display: flex;
        align-items: baseline;
      }
    }
  }

  .period {
    margin-bottom: var(--spacing-m);
    color: var(--color-text-3);
    font-weight: 400;
    font-size: var(--font-size-base);
    letter-spacing: 0px;
    white-space: nowrap;
    opacity: 0.7;
  }

  .list {
    margin-left: var(--spacing-l);

    .listItem {
      margin-bottom: var(--spacing-m);

      &::before {
        display: inline-block;
        width: 1em;
        margin-right: 0.5rem;
        margin-left: -1.7rem;
        color: var(--primary-100);
        font-weight: 900;
        content: '•';
      }
    }
  }

  @include respond(x-large) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    width: 100%;
  }
}
