.card {
  width: 100%;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius-s;

  .header {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
    font-weight: 500;

    .title {
      display: flex;
      flex-wrap: wrap;
      color: var(--color-text-1);
      font-weight: 600;
      font-size: var(--font-size-md);
      white-space: nowrap;
      column-gap: var(--spacing-base);

      .company {
        display: flex;
        display: inline;
        align-items: center;
        gap: var(--spacing-base);
        color: var(--primary-100);
        font-weight: 600;
        font-size: var(--font-size-md);
        white-space: nowrap;
        text-decoration: underline;
      }
    }
  }

  .period {
    margin-bottom: var(--spacing-md);
    color: var(--color-text-3);
    font-weight: 400;
    font-size: var(--font-size-base);
    letter-spacing: 0px;
    white-space: nowrap;
    opacity: 0.8;
  }

  .description {
    margin-bottom: var(--spacing-md);
    color: var(--color-text-1);
    font-weight: 400;
    font-size: var(--font-size-base);
    letter-spacing: 0px;
  }

  .list {
    margin-left: var(--spacing-lg);

    .listItem {
      margin-bottom: var(--spacing-s);
      color: var(--color-text-1);
      font-size: var(--font-size-sm);

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: inline-block;
        width: 1em;
        margin-right: 0.6rem;
        margin-left: -1.7rem;
        color: var(--primary-100);
        font-weight: 900;
        content: '•';
      }
    }
  }

  @include respond(x-large) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    width: 100%;
  }
}
