.button {
  @include button;

  span {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
  }

  svg {
    margin-right: var(--spacing-xs);
    font-size: var(--font-size-md);
  }

  &.loading {
    cursor: default;
    opacity: 0.8;
  }

  .loader {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-1);
    inset: 0;
  }

  @include buttonHover;
}
