.button {
  @include button;

  span {
    position: relative;
    z-index: 9;
    display: flex;
  }

  svg {
    margin-right: 0.3rem;
    font-size: 1.4rem;
  }

  &.loading {
    cursor: default;
    opacity: 0.5;
  }

  .loader {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-1);
    background-color: var(--color-surface-1);
    inset: 0;
  }

  @include respond-gt(tablet) {
    &::after {
      position: absolute;
      background-color: var(--primary-100);
      transform-origin: right;
      transition: scale 0.3s $cubic-bezier;
      content: '';
      inset: 0;
      scale: 0 1;
    }

    &:hover,
    &:focus-visible {
      color: var(--black);

      &::after {
        transform-origin: left;
        scale: 1 1;
      }
    }
  }
}
