.GradientBorder {
  position: relative;
  display: flex;
  overflow: hidden;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-image: $gradient_1;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  @include respond(laptop_s) {
    &:hover {
      transform: unset;
    }
  }
}
