.GradientBorder {
  position: relative;
  display: flex;
  overflow: hidden;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-image: $gradient_1;
}