.GradientBorder {
    padding: 3px;
    background-image: $gradient_1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }

    @include respond(laptop_s) {
        &:hover {
            transform: unset;
        }
    }
}