.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  overflow: hidden;
  border: $border-s;
  border-radius: $radius_1;
  background-color: var(--color-surface-2);
  box-shadow: $shadow_1;
  aspect-ratio: 1;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;

    svg {
      width: 6rem;

      @include respond(mobile_l) {
        width: 5rem;
      }
    }
  }

  p {
    width: 100%;
    padding: 0.5rem;
    border-top: $border-s;
    color: var(--color-text-2);
    text-align: center;
    background-color: var(--color-surface-1);
  }
}
