.CompetenceCard {
  min-width: 300px;

  @include respond(tablet) {
    max-width: 100%;
  }
}
.items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));

  @include respond(laptop_l) {
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
  }

  @include respond(laptop_s) {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  @include respond(mobile_l) {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
}

.item {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border: 1px solid var(--surface-700);
  border-radius: $radius_1;
  background: var(--surface-800);
  box-shadow: $shadow_2;
  color: var(--on-surface-200);

  i {
    margin-bottom: 8px;
    color: var(--primary);
    font-size: 90px;
    @include gradientText;

    @include respond(laptop_l) {
      font-size: 60px;
    }
  }
}
