.input {
  width: 100%;
  margin-top: var(--spacing-s);
  padding: var(--spacing-m);
  border: $border-s;
  border-radius: $radius-xs;
  color: var(--color-text-2);
  font-weight: 300;
  font-size: var(--fz-md);
  background-color: transparent;

  @include placeholder(rgba(var(--rgb-color-text-2), 0.5), 0.9rem);

  &:focus,
  &:active {
    border-color: var(--primary-100);
    outline: none;
  }

  &:hover {
    border-color: var(--primary-100);
  }
}
