.button {
  position: relative;
  display: flex;
  overflow: hidden;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  border: 1px solid var(--primary);
  border-radius: $radius_3;
  background: transparent;
  background-color: var(--surface-200);
  box-shadow: $shadow_3;
  color: var(--primary);
  cursor: pointer;
  font-weight: 500;
  @include font-size(1rem, 1rem);
  transition: all 0.3s linear;

  span {
    position: relative;
    z-index: 9;
    display: block;
  }

  &::after {
    position: absolute;
    top: 0;
    left: -130%;
    width: 120%;
    height: 120%;
    background-color: var(--primary);
    content: '';
    transform: skewX(-20deg);
    transition: all 0.3s linear;
  }

  &:hover {
    color: var(--surface-900);
    &::after {
      left: -15%;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
    @include font-size(1.3rem, 1.6rem);

    path {
      fill: var(--primary);
    }
  }

  .clicked {
    transform: scale(0.8);
  }
}
