.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: $radius_2;
  background-color: transparent;
  box-shadow: $shadow_1;
  cursor: pointer;
  font-weight: 500;
  @include font-size(1rem, 1rem);

  svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    @include font-size(1.3rem, 1.6rem);
  }

  &.default {
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    background-image: $gradient_1;
    color: var(--surface-900);
    font-weight: 600;

    svg {
      color: var(--surface-900);
    }
  }

  &.outlined {
    position: relative;
    background: var(--surface-700);
    color: var(--primary);

    span {
      @include gradientText;
    }

    svg {
      fill: var(--primary);

      path {
        fill: var(--primary);
      }
    }
  }
}
