.button {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  border: 1px solid var(--primary);
  border-radius: $radius_3;
  background: transparent;
  background-color: transparent;
  box-shadow: $shadow_3;
  color: var(--primary);
  cursor: pointer;
  font-weight: 500;
  @include font-size(1rem, 1rem);

  svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
    @include font-size(1.3rem, 1.6rem);

    path {
      fill: var(--primary);
    }
  }
}
