.skill {
  @include glassEffect;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  padding: var(--spacing-m) 0;
  border-radius: $radius-s;
  background-color: rgba(var(--rgb-color-background-1), 0.1);

  svg {
    width: 5rem !important;
    height: 5rem !important;

    path:not([fill='none']) {
      fill: var(--primary-100);
    }

    g {
      fill: var(--primary-100);
    }
  }
  p {
    font-weight: 500;
    color: var(--color-text-1);
  }
}

@include respond(small) {
  .skill {
    svg {
      width: 4rem !important;
      height: 4rem !important;
    }
  }
}

@include respond(x-small) {
  .skill {
    font-size: var(--font-size-sm);

    svg {
      width: 3rem !important;
      height: 3rem !important;
    }
  }
}
