.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  padding: 2rem;
  border: $border-s;
  border-radius: $radius_1;

  .content {
    position: static;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    border-radius: $radius_1;
    text-align: center;

    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        svg {
          color: var(--on-surface-100);
          font-size: 1.5rem;
        }

        &:hover {
          path {
            fill: var(--primary-100);
          }
        }
      }
    }

    .title {
      width: 100%;
      margin: 1rem 0;
      color: var(--primary-100);
      font-size: 1.3rem;
    }

    .description {
      margin-bottom: 1rem;
    }

    .languages {
      margin-bottom: 1rem;
      color: var(--on-surface-400);
      font-weight: 200;
      font-size: 0.9rem;
    }

    .image {
      position: relative;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
