.card {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;
  min-width: 200px;
  height: fit-content;
  padding: $padding-3;
  overflow: hidden;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius_1;

  @include respond(laptop_s) {
    flex-direction: column;
    gap: 0.5rem;
  }

  @include respond(tablet) {
    flex-direction: row;
    padding: $padding-3 0;
  }

  @include respond(mobile_l) {
    flex-direction: column;
  }

  @include respond-gt(laptop_s) {
    &:hover {
      @include glassEffect;
    }
  }

  .content {
    position: static;
    flex: 2;

    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .title {
      color: var(--color-text-1);
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1;
      white-space: nowrap;
    }

    .description {
      max-width: 500px;
      margin-bottom: 1rem;
      color: var(--color-text-3);
      font-weight: 300;
      font-size: 0.9rem;
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;

      p {
        padding: 0.2rem 0.7rem;
        border-radius: $radius_1;
        color: var(--primary-100);
        font-weight: 400;
        font-size: 0.8rem;
        background-color: rgba(var(--rgb-primary-400), 0.5);
      }
    }
  }

  .image {
    position: relative;
    display: flex;
    flex: 1;
    flex-grow: 2;
    height: fit-content;

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border: $border-l;

      @include respond(mobile_l) {
        max-width: unset;
      }
    }
  }

  @include respond-gt(tablet) {
    &:hover {
      .image {
        img {
          border-color: var(--primary-100);
        }
      }

      button[aria-label='Open website'] {
        color: var(--primary-100) !important;
      }
    }
  }
}
