.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  overflow: hidden;
  border: $border-s;
  border-radius: $radius_1;
  background-color: var(--color-surface-2);
  box-shadow: $shadow_1;

  .content {
    position: static;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    border-top: $border-s;
    text-align: center;
    background-color: var(--color-surface-1);

    @include respond(mobile_l) {
      padding: 1.5rem 1rem;
    }

    .title {
      width: 100%;
      margin: 0 0 0.5rem 0;
      color: var(--primary-100);
      font-weight: 700;
      font-size: 1.2rem;
      font-family: $font-family-heading;
      text-transform: uppercase;
    }

    .languages {
      margin-bottom: 1rem;
      color: var(--color-text-3);
      font-weight: 200;
      font-size: 0.9rem;
      font-style: italic;
      opacity: 0.7;
    }
  }

  .image {
    position: relative;
    margin: 2rem;

    img {
      width: 100%;
      max-width: 500px;
      height: 100%;
      margin: 0 auto;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    padding: 0.7rem 1.5rem;
    border-top: $border-s;
    background-color: var(--color-surface-1);

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        color: var(--color-text-1);
        font-size: 1.5rem;
      }

      &:hover {
        path {
          fill: var(--primary-100);
        }
      }
    }
  }
}
