.html {
  overflow-x: hidden;
  color: var(--color-text-2);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 1.5;
  background-color: var(--color-background-1);
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;

  .body {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    font-family: var(--font-body);
  }
}
