.mouse {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 160px;
  height: fit-content;
  min-height: 160px;
  margin-left: auto;
  border: 2px solid var(--primary-100);
  border-radius: 50%;
  font-size: 1.2rem;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s $cubic-bezier;
  aspect-ratio: 1;

  @include respond(mobile_l) {
    bottom: 3rem;
  }

  &::before {
    position: absolute;
    bottom: 35%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-100);
    transform: translateX(-50%);
    opacity: 1;
    -webkit-animation: wheel 2s infinite;
    animation: wheel 2s infinite;
    content: '';
  }
}

.mouse.scrolled {
  visibility: hidden;
  opacity: 0;
}

@keyframes wheel {
  to {
    bottom: 0%;
    opacity: 0;
  }
}

@-webkit-keyframes wheel {
  to {
    bottom: 0%;
    opacity: 0;
  }
}
