.mouse {
  position: relative;
  width: 50px;
  height: 90px;
  margin-top: auto;
  border: 3px solid var(--primary-100);
  border-radius: 60px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s $cubic-bezier;

  @include respond(mobile_l) {
    bottom: 1rem;
  }

  &::before {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-100);
    transform: translateX(-50%);
    opacity: 1;
    -webkit-animation: wheel 2s infinite;
    animation: wheel 2s infinite;
    content: '';
  }
}

.mouse.scrolled {
  visibility: hidden;
  opacity: 0;
}

@keyframes wheel {
  to {
    top: 60px;
    opacity: 0;
  }
}

@-webkit-keyframes wheel {
  to {
    top: 60px;
    opacity: 0;
  }
}
