.buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);

  button {
    display: flex;
    align-items: center;
    border: none;
    color: var(--color-text-1);
    font-size: var(--font-size-md);
    background-color: transparent;
    cursor: pointer;

    @include respond-gt(medium) {
      &:hover {
        color: var(--primary-100);
      }
    }
  }
}
