.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;
    border: none;
    color: var(--color-text-1);
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
  }

  @include respond-gt(tablet) {
    &:hover {
      button {
        color: var(--primary-100);
      }
    }
  }
}
