$offset: 3rem;

.aside {
  position: sticky;
  top: 2rem;
  bottom: $offset;
  left: 2rem;
  display: flex;
  width: 100%;
  max-width: 400px;
  height: fit-content;
  flex-direction: column;
  border: $border-s;
  border-radius: $radius;
  margin-right: 2rem;
  animation: fadeIn 0.3s $cubic-bezier forwards;
  background-color: var(--surface-200);
  @include padding;

  @include respond(laptop_s) {
    position: static;
    width: 100%;
    max-width: 100%;
    height: unset;
    min-height: 100vh;
    justify-content: center;
    padding: 3rem;
    border: none;
    border-radius: 0;
  }

  @include respond(mobile_m) {
    padding: 6rem 2rem 2rem 2rem;
  }

  h1 {
    margin-bottom: 1rem;
    animation-delay: 0.1s;
    font-size: 3rem;
  }

  .copyright {
    margin: 1rem auto;
    color: var(--on-surface-500);
    opacity: 0.7;
    text-align: center;
  }

  .text {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--on-surface-400);
    text-align: center;

    @include respond(laptop_s) {
      flex: 0;
    }
  }

  .button {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: none;
    border-radius: $radius;
    margin: 0 auto;
    margin-top: auto;
    background-color: var(--primary);
    color: var(--on-surface-100);
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;

    @include respond(laptop_s) {
      margin-top: 0;
    }
  }
}
