$offset: 3rem;

.aside {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  max-width: 370px;
  height: 100vh;
  padding: 5rem 0 3rem 0;
  opacity: 0;
  animation: fade-in 1s $cubic-bezier forwards;

  @include respond(tablet) {
    position: static;
    width: 100%;
    height: 100%;
    height: fit-content;
    border-radius: unset;
  }
}
