.Banner {
  display: grid;
  min-height: calc(100vh - 120px);
  align-content: center;
  grid-template-columns: 1.2fr 1fr;

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    align-items: unset;
    margin-top: 4rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  small {
    display: block;
    width: fit-content;
    color: var(--primary);
    font-weight: 300;
    white-space: nowrap;
    @include gradientText;
    @include font-size(0.8rem, 0.9rem);
  }

  h1 {
    white-space: nowrap;
    @include font-size(2.2rem, 5.9rem);
  }

  h2 {
    width: fit-content;
    color: var(--primary);
    font-weight: 700;
    @include gradientText;
    @include font-size(1.9rem, 4rem);
  }

  .subtitle {
    max-width: 600px;
    margin-top: 1rem;
    color: var(--on-surface-200);
    font-weight: 400;
    @include font-size(0.9rem, 1rem);

    @include respond(laptop_s) {
      max-width: 300px;
    }

    @include respond(tablet) {
      max-width: 275px;
    }
  }
}

.button {
  width: fit-content;
  margin-top: 2rem;
  box-shadow: $shadow_4;
}

.aside {
  width: 100%;
  max-width: 600px;
  flex: 0.9;
  margin: 0 auto;

  @include respond(tablet) {
    margin-top: 2rem;
  }
}
