html {
  --fz-xs: 0.75rem;
  --fz-sm: 0.875rem;
  --fz-md: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;
  --fz-2xl: 1.5rem;
  --fz-3xl: 1.875rem;
  --fz-4xl: 2.25rem;
  --fz-5xl: 3rem;
  --fz-6xl: 4rem;
}
