@import './theme';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include font-size(1rem, 1.15rem);

  height: 100%;
  overflow-x: hidden;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0px;
  text-size-adjust: 100%;
}

body {
  position: relative;
  height: 100%;
  color: var(--on-surface-200);
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--surface-100);
  transition: background-color 0.2s ease-in-out;
}

body,
div {
  &::-webkit-scrollbar {
    width: 0.3rem;
    background-color: var(--on-surface-300);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--surface-300);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  color: var(--on-surface-200);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Julius Sans One', sans-serif;
}

p,
b {
  max-width: 600px;
  font-size: 1.1rem;
}
