@mixin placeholder($color, $fontSize: 1rem) {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
    opacity: 1;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
  }

  &::placeholder {
    /* Most modern browsers support this now. */
    color: $color;
    font-size: $fontSize;
    text-transform: capitalize;
  }
}

@mixin glassEffect {
  border: $border-s;
  background-color: rgba(var(--rgb-color-background-1), 0.3);
  box-shadow: $shadow_1;
  -webkit-backdrop-filter: blur(20px) brightness(200%);
  backdrop-filter: blur(20px) brightness(200%);
  transition: all 0.2s ease-in-out;
}

@mixin button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: var(--spacing-m) var(--spacing-l);
  overflow: hidden;
  border: 1px solid var(--primary-100);
  border-radius: $radius-xs;
  color: var(--primary-100);
  font-weight: 700;
  font-size: var(--font-size-sm);
  line-height: 1;
  background-color: transparent;
  box-shadow: $shadow_2;
  cursor: pointer;

  @include respond(small) {
    font-size: 1rem;
  }
}

@mixin buttonHover {
  @include respond-gt(medium) {
    &::after {
      position: absolute;
      background-color: var(--primary-100);

      @include meshGradient;

      transform-origin: right;
      transition: scale 0.3s $cubic-bezier;
      content: '';
      inset: 0;
      scale: 0 1;
    }

    &:hover,
    &:focus-visible {
      &::after {
        transform-origin: left;
        scale: 1 1;
      }
    }

    &:hover {
      &:not(:disabled) {
        color: var(--black);
      }
    }
  }
}

@mixin buttonPrimary {
  @include button;
  @include meshGradient;

  color: var(--black);
}

@mixin meshGradient {
  background: linear-gradient(270deg, #24e4cc, #1b9ce4);
  background-size: 100% 100%;
}
