$x-small: 370px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1440px;

@mixin respond($media) {
  @if $media == x-small {
    @media (max-width: $x-small) {
      @content;
    }
  } @else if $media == small {
    @media (max-width: $small) {
      @content;
    }
  } @else if $media == medium {
    @media (max-width: $medium) {
      @content;
    }
  } @else if $media == large {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $media == x-large {
    @media (max-width: $x-large) {
      @content;
    }
  } @else if $media == xx-large {
    @media (max-width: $laptop_l) {
      @content;
    }
  }
}

@mixin respond-gt($media) {
  @if $media == small {
    @media (min-width: $mobile_m) {
      @content;
    }
  } @else if $media == medium {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $media == large {
    @media (min-width: $large) {
      @content;
    }
  } @else if $media == x-large {
    @media (min-width: $x-large) {
      @content;
    }
  } @else if $media == xx-large {
    @media (min-width: $xx-large) {
      @content;
    }
  }
}
