// DARK COLORS
$secondary-dark: #6d17cb;
$primary-dark: #2876f9;

$surface-dark: #191919;
$text-dark: #d2d9e6;
$color-background-dark: #070c14;
$color-background-dark-2: #0c0930;

$colors-dark: (
  primary-100: $primary-dark,
  primary-200: darken($primary-dark, 10),
  primary-300: darken($primary-dark, 20),
  primary-400: darken($primary-dark, 30),
  primary-500: darken($primary-dark, 40),
  secondary-100: $secondary-dark,
  secondary-200: darken($secondary-dark, 10),
  secondary-300: darken($secondary-dark, 20),
  secondary-400: darken($secondary-dark, 30),
  secondary-500: darken($secondary-dark, 40),
  // Background
  color-background-1: $color-background-dark,
  color-background-2: lighten($color-background-dark, 8),
  // Surface
  color-surface-1: $surface-dark,
  color-surface-2: lighten($surface-dark, 3),
  color-surface-3: lighten($surface-dark, 6),
  // Text
  color-text-1: $text-dark,
  color-text-2: rgba($text-dark, 80%),
  color-text-3: rgba($text-dark, 70%),
  color-text-4: rgba($text-dark, 60%),
  // Borders
  color-border-1: #ffffff8e,
  color-border-2: #ffffff50,
  color-border-3: #fcfcfc21,
  // FEEDBACK
  color-warning: #b54708,
  color-error: #b7192e,
  color-success: #338213,
);

// GLOBAL COLORS
$globals: (
  black: #000000,
  white: #fcfcfc,
);

@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin generate-colors($colors) {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $colors {
    --rgb-#{$color}: #{hex-to-rgb($value)};
  }
}

html {
  @include generate-colors($globals);

  @include generate-colors($colors-dark);
}
