$primary-dark: #00a2ff;
$surface-dark: #030c15;
$on-surface-dark: #f4f4f4;

$primary-light: #0073ff;
$surface-light: #e4e4e4;
$on-surface-light: #000000;

$step-surface-dark: 2%;
$step-on-surface-dark: 10%;

$step-surface-light: 4%;
$step-on-surface-light: 10%;

$globals: (
  black: #000000,
  white: #f2f2f2,
);

$colors-dark: (
  primary-100: $primary-dark,
  primary-200: darken($primary-dark, 10%),
  surface-100: $surface-dark,
  surface-200: darken($surface-dark, $step-surface-dark),
  surface-300: darken($surface-dark, $step-surface-dark * 2),
  surface-400: darken($surface-dark, $step-surface-dark * 4),
  on-surface-100: $on-surface-dark,
  on-surface-200: darken($on-surface-dark, $step-on-surface-dark),
  on-surface-300: darken($on-surface-dark, $step-on-surface-dark * 2),
  on-surface-400: darken($on-surface-dark, $step-on-surface-dark * 3),
);

$colors-light: (
  primary-100: $primary-light,
  primary-200: darken($primary-light, 10%),
  surface-100: $surface-light,
  surface-200: darken($surface-light, $step-surface-light),
  surface-300: darken($surface-light, $step-surface-light * 2),
  surface-400: darken($surface-light, $step-surface-light * 3),
  on-surface-100: $on-surface-light,
  on-surface-200: lighten($on-surface-light, $step-on-surface-light),
  on-surface-300: lighten($on-surface-light, $step-on-surface-light * 2),
  on-surface-400: lighten($on-surface-light, $step-on-surface-light * 3),
);

@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin generate-colors($colors) {
  @each $color, $value in $colors {
    @if str-slice(#{$value}, 1, 1) == '#' {
      --#{$color}: #{$value};
    } @else {
      --#{$color}: var(--#{$value});
    }
  }

  @each $color, $value in $colors {
    @if str-slice(#{$value}, 1, 1) == '#' {
      --rgb-#{$color}: #{hex-to-rgb($value)};
    } @else {
      --rgb-#{$color}: var(--RGB_#{$value});
    }
  }
}

html {
  @include generate-colors($globals);
  @include generate-colors($colors-dark);
}

.theme-light {
  @include generate-colors($colors-light);
}
