$shadow_0: rgba(var(--rgb-color-text-4), 0.12) 0px 1px 3px,
  rgba(var(--rgb-color-text-4), 0.24) 0px 1px 2px;
$shadow_1: rgba(var(--rgb-color-text-4), 0.12) 0px 1px 3px;
$shadow_2: rgba(var(--rgb-color-text-4), 0.16) 0px 3px 6px;
$shadow_3: rgba(var(--rgb-color-text-4), 0.19) 0px 10px 20px;
$shadow_4: rgba(var(--rgb-color-text-4), 0.25) 0px 14px 28px;

$radius: 30px;
$radius_1: 20px;
$radius_2: 8px;
$radius_3: 4px;

$header-height: 75px;

$border-s: 0.1px solid rgba(var(--rgb-color-border-1), 0.1);
$border-m: 0.5px solid rgba(var(--rgb-color-border-1), 0.3);

$cubic-bezier: cubic-bezier(0.39, 0.575, 0.565, 1);

$transition: all 0.3s $cubic-bezier;
