$shadow_1: rgba(var(--rgb-color-text-4), 0.12) 0px 1px 3px;
$shadow_2: rgba(var(--rgb-color-text-4), 0.16) 0px 3px 6px;

$radius-xs: 0.2em;
$radius-s: 0.4em;

$border-s: 0.1px solid rgba(var(--rgb-color-border-1), 0.1);
$border-m: 0.5px solid rgba(var(--rgb-color-border-1), 0.3);
$border-l: 1px solid rgba(var(--rgb-color-border-1), 0.8);

$cubic-bezier: cubic-bezier(0.39, 0.575, 0.565, 1);
