.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
  }
}

.logoName {
  font-family: 'Yeseva One', cursive;
  @include font-size(2rem, 2.3rem);
  text-align: center;
}
