.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
  }
}

.logoName {
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
  text-align: center;
}
