.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    color: var(--color-text-1);
  }
}

.logoName {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 1px;
  opacity: 0.9;
}
