.TabList {
  display: flex;

  .tabs {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: var(--spacing-m);
    border: $border-s;
    height: fit-content;

    button {
      padding: var(--spacing-s);
      white-space: nowrap;
      text-align: left;
      background-color: transparent;
      cursor: pointer;
      font-size: var(--font-size-base);
      border: $border-s;
      border-left: 2px solid var(--color-border-2);
      color: var(--color-text-1);

      &.active {
        border-left: 2px solid var(--primary-100);
      }
    }
  }
}

@include respond(medium) {
  .TabList {
    flex-direction: column;

    .tabs {
      border-top: 2px solid var(--color-border-2);
      flex-direction: row;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
      }

      button {
        border-bottom: 2px solid var(--color-border-2);
        border-left: none;

        &.active {
          border-bottom: 2px solid var(--primary-100);
          border-left: none;
        }
      }
    }
  }
}

@include respond(medium) {
  .TabList {
    .tabs {
      width: calc(100% + 2rem);
      margin-right: -1rem;
      margin-bottom: var(--spacing-xl);
      margin-left: -1rem;
    }
  }
}

@include respond-gt(medium) {
  .TabList {
    .tabs {
      button:not(.active) {
        &:hover {
          @include glassEffect;

          border-left: 2px solid var(--color-border-2);
          color: var(--primary-100);
        }
      }
    }
  }
}
