.TabList {
  display: flex;

  .tabs {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: var(--spacing-m);

    button {
      padding: var(--spacing-m);
      border: none;
      border-left: 2px solid var(--color-border-2);
      white-space: nowrap;
      text-align: left;
      background-color: transparent;
      cursor: pointer;

      &.active {
        border-left: 2px solid var(--primary-100);
      }
    }
  }
}

@include respond(medium) {
  .TabList {
    flex-direction: column;

    .tabs {
      flex-direction: row;
      overflow-x: scroll;

      button {
        margin-bottom: var(--spacing-s);
        border-bottom: 2px solid var(--color-border-2);
        border-left: none;

        &.active {
          border-bottom: 2px solid var(--primary-100);
          border-left: none;
        }
      }
    }
  }
}

@include respond(medium) {
  .TabList {
    .tabs {
      width: calc(100% + 2rem);
      margin-right: -var(--spacing-s);
      margin-bottom: var(--spacing-xl);
      margin-left: -var(--spacing-s);
    }
  }
}

@include respond-gt(medium) {
  .TabList {
    .tabs {
      button:not(.active) {
        &:hover {
          @include glassEffect;

          border-left: 2px solid var(--color-border-2);
          color: var(--primary-100);
        }
      }
    }
  }
}
