.services {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  @include respond(laptop_s) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(mobile_l) {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 100%;
  height: 100%;
  border-radius: $radius_1;
  background-color: var(--surface-800);
  text-align: center;
  @include padding;
}

.title {
  margin-bottom: 1rem;
  color: var(--primary);
  @include font-size(1rem, 1.1rem);
}

.content {
  @include font-size(0.8rem, 0.9rem);
}
