.uptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  margin: 4rem 0;
  padding: 6px 1rem;
  border: $border-s;
  border-radius: 99em;
  background-color: var(--surface-200);

  svg {
    color: var(--on-surface-400);
    opacity: 0.8;
  }

  p {
    position: relative;
    top: 2px;
    color: var(--on-surface-300);
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: -1px;
  }
}
