.uptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  width: fit-content;
  margin: var(--spacing-m) 0 var(--spacing-xxl) 0;
  padding: var(--spacing-xs) var(--spacing-m);
  border: $border-s;
  border-color: var(--primary-100);
  border-radius: $radius-s;
  color: var(--primary-100);
  background-color: rgba(var(--rgb-primary-400), 0.3);

  p {
    font-weight: 400;
    font-size: var(--fz-sm);
  }
}

@include respond(medium) {
  .uptitle {
    margin-left: 0;
  }
}
