.uptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  width: fit-content;
  margin: var(--spacing-md) 0 var(--spacing-xxl) 0;
  padding: var(--spacing-s) var(--spacing-s);
  border: $border-s;
  border-color: var(--primary-100);
  border-radius: $radius-s;
  color: var(--primary-100);
  background-color: rgba(var(--rgb-primary-500), 0.8);
  will-change: transform, opacity;

  p {
    font-weight: 400;
    font-size: var(--font-size-sm);
    line-height: 1;
  }
}

@include respond(medium) {
  .uptitle {
    margin-left: 0;
  }
}
