.nav {
  display: flex;
  align-items: center;

  @include respond(laptop_s) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: var(--surface-900);
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

    &.open {
      box-shadow: $shadow_1;
      transform: translateX(0%);
    }
  }

  @include respond(tablet) {
    width: 100%;
  }

  .list {
    display: flex;
    align-items: center;

    @include respond(laptop_s) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      border-top: 0.1px solid var(--surface-500);
      margin-top: 90px;
      margin-right: 0px;
    }
  }

  .item {
    margin-left: 2.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      width: 0.9rem;
      height: 0.9rem;
      margin-right: 4px;
    }

    path {
      stroke: var(--primary);
    }

    @include respond(laptop_s) {
      margin-left: 0;
      font-weight: 600;
      opacity: 0;
      transform: translateX(100px);

      &.open {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            animation: slideLeft;
            animation-delay: (0.1s * $i);
            animation-duration: (0.1s * $i);
            animation-fill-mode: forwards;
          }
        }
      }
    }

    @include respond(mobile_l) {
      font-size: 1rem;
    }
  }
}

.close {
  display: none;

  @include respond(laptop_s) {
    position: absolute;
    z-index: 9999;
    top: 1.5rem;
    right: 1.5rem;
    display: inline;
    color: var(--primary);
    font-size: 2rem;
  }
}
