.info {
  @include respond(tablet) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .left {
    left: 3rem;

    .popover {
      left: 2.2rem;
      &::before {
        left: -6px; /* Adjust this value to position the arrow */
        border-width: 8px 8px 8px 0px; /* Adjust the border width to change the size of the arrow */
        border-color: transparent var(--surface-300) transparent transparent; /* Adjust the last value to change the arrow color */
      }
    }

    li {
      @include respond(tablet) {
        order: 2;
      }
    }

    .line {
      @include respond(tablet) {
        order: 1;
      }
    }
  }

  .right {
    right: 3rem;

    .popover {
      right: 125%;

      &::before {
        right: -6px; /* Adjust this value to position the arrow */
        border-width: 8px 0 8px 8px; /* Adjust the border width to change the size of the arrow */
        border-color: transparent transparent transparent var(--surface-300); /* Adjust the last value to change the arrow color */
      }
    }
  }

  .left,
  .right {
    position: fixed;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation-delay: 0.4s;
    gap: 1.5rem;

    @include respond(tablet) {
      position: static;
      width: 100%;
      flex-direction: row;
      margin: 1rem 0;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .popover {
      position: absolute;
      display: none;
      padding: 0.4rem 0.5rem;
      border-radius: $radius_2;
      background-color: var(--surface-300);
      box-shadow: $shadow_2;
      color: var(--primary);
      opacity: 0;
      white-space: nowrap;

      &::before {
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        content: '';
        transform: translateY(-50%);
      }

      @include respond(tablet) {
        display: none;
      }
    }
    .line {
      width: 2px;
      height: 5rem;
      background-color: var(--primary);
      @include respond(tablet) {
        width: 3rem;
        height: 2px;
      }
    }
  }

  .icon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    transition: transform 0.3s ease;

    svg {
      font-size: 1.6rem;
    }

    &:hover {
      color: var(--primary);
      transform: scale(1.1);

      .popover {
        display: block;
        opacity: 1;
      }
    }

    @include respond(tablet) {
      background: transparent;
      font-size: 1.5rem;
    }
  }
}
