.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
  gap: 1rem;

  @include respond(tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.reverse {
  flex-direction: row-reverse;

  @include respond(tablet) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background: $gradient_1;
}

.detail {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: $radius_2;

  @include respond(laptop_S) {
    width: 300px;
  }

  &.reverse {
    align-items: flex-end;
    text-align: end;
  }
}

.title {
  width: fit-content;
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
  white-space: nowrap;
  @include gradientText;
  @include font-size(1.2rem, 1.4rem);
}

.description {
  @include font-size(0.9rem, 1rem);
}
