.banner {
  position: relative;
  height: 100%;
  padding-top: 2rem;

  @include respond(tablet) {
    padding: 0;
    padding-top: 30px;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 4px;
  background: $gradient_1;
}

.detail {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
}

.title {
  width: fit-content;
  margin: 8px 0;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;

  @include font-size(1rem, 2rem);
  @include gradientText;
}

.languages {
  max-width: 600px;
  margin-bottom: 20px;
  color: var(--on-surface-400);
  font-weight: 500;
  @include font-size(0.8rem, 0.9rem);
}

.description {
  margin-bottom: 20px;
  font-weight: 400;

  @include font-size(1rem, 1.2rem);
}

.buttons {
  width: 100%;
  max-width: 600px;
}
