.nav {
  width: fit-content;

  @include respond(laptop_s) {
    display: none;
  }
}

.list {
  padding: 1rem 0;
  border: $border-s;
  border-radius: 99em;
  background-color: var(--surface-200);
  transform: translate(500px, 500px) scale(0);
  animation: fadeIn 0.3s $cubic-bezier forwards;
  animation: slide 0.3s $cubic-bezier forwards;

  .item {
    padding: 0.6rem 1rem;
    border: none;
    font-size: 1.3rem;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    transition: $transition;

    @include scale(1.2);

    &:hover {
      color: var(--on-surface-100);
    }

    &.active {
      color: var(--primary-100);
    }
  }
}
