.nav {
  width: fit-content;
  @include respond(laptop_s) {
    display: none;
  }
}

.list {
  padding: 1rem 0;
  border: $border-s;
  border-radius: 99em;
  animation: fadeIn 0.3s $cubic-bezier forwards;
  animation: slide 0.3s $cubic-bezier forwards;
  background-color: var(--surface-200);
  transform: translate(500px, 500px) scale(0);

  .item {
    white-space: nowrap;

    button {
      padding: 1rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.3rem;
      transition: $transition;
      white-space: nowrap;
      @include scale(1.2);

      &:hover {
        color: var(--on-surface-100);
      }
    }

    &.active {
      button {
        color: var(--primary-100);
      }
    }
  }
}
