.nav {
  width: fit-content;

  @include respond(laptop_s) {
    display: none;
  }
}

.list {
  border: $border-s;
  border-radius: 99em;
  background-color: var(--surface-200);
  padding: 1rem 0;

  .item {
    white-space: nowrap;

    button {
      background-color: transparent;
      cursor: pointer;
      font-size: 1.3rem;
      transition: $transition;
      white-space: nowrap;
      @include hover-animation;
      /* stylelint-disable-next-line order/properties-order */
      border: none;
      &:hover {
        padding: 1rem;
      }
    }

    &.active {
      button {
        color: var(--primary);
      }
    }
  }
}
