.list {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: var(--on-surface-400);
    content: '';
    transform: translateX(50%);

    @include respond(tablet) {
      display: none;
    }
  }
}
