.form {
  margin-bottom: 4rem;

  .row {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;

    @include respond(mobile_l) {
      flex-direction: column;
      gap: 0rem;
    }
  }

  .button {
    margin-top: 3rem;
  }

  .required {
    position: relative;
    bottom: 0.4rem;
    left: 0.4rem;
    color: var(--primary-100);
    font-weight: bold;
    font-size: 1rem;
  }
}
