.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--surface-700);
  border-radius: $radius_1;
  background: var(--surface-800);
  box-shadow: $shadow_3;
  @include padding;
}

.title {
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.description {
  margin-bottom: 1rem;
  color: var(--on-surface-100);
  font-weight: 400;
  @include font-size(0.9rem, 1rem);
}

.languages {
  margin-bottom: 1rem;
  color: var(--on-surface-300);
  font-weight: 300;
  @include font-size(0.8rem, 0.9rem);
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 1rem;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 1.3rem;
      height: 1.3rem;

      path {
        fill: var(--on-surface-100);
      }
    }

    &:hover {
      path {
        fill: var(--primary);
      }
    }
  }
}
