.header {
  width: 100%;
}

.subtitle {
  margin-bottom: 1rem;
  color: var(--color-text-1);
  font-weight: 400;
  font-size: 1.3rem;
}

.content {
  margin-bottom: 2rem;
  color: var(--color-text-3);
}
