.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: transparent;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.5s $cubic-bezier;
  height: 120px;

  &.isScrolled {
    background-color: var(--color-background-1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@include respond(laptop_s) {
  .header {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
