.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: var(--spacing-lg) 0;
  background-color: transparent;
  backdrop-filter: blur(6px);
  transition:
    transform 0.5s $cubic-bezier,
    padding 0.5s $cubic-bezier;
  will-change: transform;

  @include fadeIn;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-md);
  }

  &.isScrollingDown:not(.isAtTop) {
    transform: translateY(-100%);
  }

  &.isScrollingUp:not(.isAtTop) {
    padding: var(--spacing-s) 0;
    background-color: rgba(var(--rgb-color-background-1), 0.5);
    transform: translateY(0);
  }

  &.isAtTop {
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}

@include respond(x-large) {
  .header {
    padding: var(--spacing-md) 0;

    &.isScrollingUp:not(.isAtTop) {
      padding: var(--spacing-md) 0;
    }
  }
}
