.Header {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  background: var(--surface-900);
}

.scrolled {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: fadeIn 1s ease-in forwards;
  box-shadow: $shadow_2;
  opacity: 0.7;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hamb {
  display: none;
  font-size: 30px;

  @include respond(laptop_s) {
    display: inline;
  }
}

@keyframes fadeIn {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}