.Header {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  background: var(--surface-900);
}

.scrolled {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: fadeIn 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  box-shadow: $shadow_2;
  opacity: 0;
  transform: translateY(-100px);
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hamb {
  display: none;
  font-size: 30px;

  @include respond(laptop_s) {
    display: inline;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
