.Title {
  position: relative;
  width: fit-content;
  width: 100%;
  margin-bottom: 6rem;
  text-align: center;

  &::after {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    width: 4rem;
    height: 2px;
    border-radius: 10px;
    background-color: var(--primary);
    content: '';
    transform: translateX(-50%);
  }

  h2 {
    font-weight: 700;
    @include font-size(1.8rem, 3rem);
  }

  p {
    max-width: 500px;
    padding-bottom: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    @include font-size(0.8rem, 0.9rem);
  }
}
