.info {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 1.5rem;

  @include respond(mobile_l) {
    margin: 1rem 0;
  }
}

.list {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  animation-delay: 0.4s;
  gap: 1rem;

  li {
    a {
      @include button-animation(1.1);
      @include scale;
    }
  }
}

.icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    border-color: var(--on-surface-100);
    color: var(--on-surface-100);
  }
}
