.list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  .link {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    color: var(--color-text-1);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}

@include respond(tablet) {
  .list {
    margin-top: 0;
  }
}

@include respond-gt(tablet) {
  .list {
    .link {
      &:hover {
        path {
          fill: var(--primary-100);
        }
      }
    }
  }
}
