.Container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;

  @include respond(laptop_l) {
    padding: 0 80px;
  }

  @include respond(tablet) {
    padding: 0 40px;
  }

  @include respond(mobile_l) {
    padding: 0 16px;
  }
}
