.Title {
  position: relative;
  width: fit-content;
  width: 100%;
  max-width: 700px;
  color: var(--color-text-1);

  @include font-size(1.8rem, 3rem);

  strong {
    color: var(--primary-100);
  }
}
