.About {
  &__container {
    font-size: 28px;
    font-weight: 600;
    text-align: justify;

    @include respond(laptop_l) {
      font-size: 18px;
    }

    @include respond(laptop_s) {
      font-size: 18px;
    }

    @include respond(mobile_l) {
      font-size: 16px;
    }

    p {
      padding: 40px;
      box-shadow: $shadow_1;
      border-radius: $radius_1;
      letter-spacing: 1px;
      line-height: 38px;

      @include respond(laptop_l) {
        padding: 40px;
        line-height: 34px;
      }

      @include respond(tablet) {
        padding: 20px;
        line-height: 30px;
      }

      @include respond(mobile_l) {
        padding: 20px;
        line-height: 24px;
      }
    }
  }
}