.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--surface-700);
  border-radius: $radius_1;
  background: var(--surface-800);
  box-shadow: $shadow_1;
  color: var(--on-surface-200);
  @include padding;

  .about {
    @include padding;
    @include font-size(0.9rem, 1.2rem);
    text-align: center;
  }
}

.btns {
  display: grid;
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @include respond(mobile_l) {
    grid-template-columns: 1fr;
  }
}
