.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $radius_1;
  color: var(--on-surface-100);

  .about {
    width: 100%;
    font-weight: 300;
    text-align: center;

    li {
      @include padding;
      display: flex;
      width: 100%;
      max-width: 600px;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--surface-700);
      border-radius: $radius_1;
      margin-bottom: 1rem;
      background: var(--surface-800);
      box-shadow: $shadow_3;

      &:nth-child(even) {
        margin-left: auto;
      }
    }

    h3 {
      margin-bottom: 1rem;
      @include font-size(1.3rem, 1.5rem);
      color: var(--on-surface-100);
      font-weight: 500;
    }

    p {
      margin-bottom: 2rem;
      color: rgba(var(--rgb-primary), 0.8);
      font-weight: 500;
      @include font-size(0.9rem, 1.1rem);
    }
  }
}
