.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__copyright {
    width: fit-content;
    padding: var(--spacing-m) 0;
    font-size: var(--fz-sm);
  }
}
