.Banner {
  display: grid;
  min-height: calc(100vh - 120px);
  align-items: center;
  grid-template-columns: 1.3fr 1fr;

  @include respond(laptop_s) {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  &__main {
    &-header {
      letter-spacing: 6px;
      font-size: 22px;
      font-weight: 500;
      color: var(--color-2);
      @include gradientText;
      width: fit-content;
      white-space: nowrap;

      @include respond(laptop_l) {
        font-size: 16px;
      }
    }

    &-title {
      font-size: 110px;
      color: var(--color-5);
      margin: 20px 0 10px 0;

      @include respond(laptop_l) {
        font-size: 70px;
      }

      @include respond(laptop_s) {
        font-size: 65px;
      }

      @include respond(mobile_l) {
        font-size: 36px;
        line-height: 40px;
      }

      &-b {
        font-size: 80px;
        margin-bottom: 30px;
        color: var(--color-4);
        @include gradientText;

        @include respond(laptop_l) {
          font-size: 50px;
        }

        @include respond(laptop_s) {
          font-size: 46px;
        }

        @include respond(mobile_l) {
          font-size: 25px;
        }

        @include respond(mobile_m) {
          font-size: 23px;
        }
      }
    }

    &-subtitle {
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
      opacity: 0.5;
      max-width: 1000px;

      @include respond(laptop_l) {
        font-size: 18px;
        max-width: 670px;
      }

      @include respond(mobile_l) {
        font-size: 16px;
      }

      @include respond(mobile_m) {
        font-size: 13px;
      }
    }
  }

  &__aside {
    @include respond(laptop_s) {
      margin-top: 60px;
    }

    @include respond(tablet) {
      margin-top: 100px;
    }

    @include respond(mobile_l) {
      margin-top: 60px;
    }
  }
}
