.cards {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @include respond(tablet) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  @include respond(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
