.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid $color_2;
    margin-bottom: 10px;
    object-fit: cover;
  }

  &__name {
    font-weight: 700;
    font-size: 30px;

    @include respond(laptop_l) {
      font-size: 20px;
    }
  }

  &__copyright {
    font-weight: 500;
    margin-top: 40px;
    font-size: 24px;

    @include respond(laptop_l) {
      font-size: 16px;
    }
  }
}