.ProjectBtns {
  display: flex;
  width: 100%;
  gap: 1rem;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      path {
        fill: var(--on-surface-100);
      }
    }

    &:hover {
      path {
        fill: var(--primary);
      }
    }
  }
}
