.logo {
  z-index: 999999;
  display: flex;
  align-items: center;
  color: var(--on-surface-100);
}

.logoImg {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: $shadow_2 !important;
}

.logoName {
  margin-left: 10px;
  font-weight: 700;
  @include font-size(1.3rem, 1.6rem);
}
