.button {
  position: relative;
  display: block;
  width: fit-content;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--surface-200);
  cursor: pointer;
  @include button-animation;
  @include scale(1.05);
}

.dark .toggle {
  left: 100%;
  transform: translate(-100%, -50%);
}
