.experiences {
  padding-left: $padding-3;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem;
  color: var(--color-text-1);
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 2rem;
}

@include respond-gt(tablet) {
  .link {
    &:hover {
      color: var(--primary-100);
    }
  }
}

@include respond(mobile_l) {
  .experiences {
    padding-left: 0;
  }
}
