.card {
  width: 100%;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius_1;

  .header {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -2px;

    .title {
      color: var(--color-text-1);
      white-space: nowrap;
      font-size: 1.2rem;
    }

    .company {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;

      p {
        color: var(--primary-100);
        &:hover {
          text-decoration: underline;
        }
      }

      a {
        display: flex;
        align-items: baseline;
      }
    }
  }

  .period {
    color: var(--color-text-3);
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0px;
    white-space: nowrap;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  .list {
    margin-left: 2rem;

    .listItem {
      margin-bottom: 1rem;
      font-size: 0.9rem;

      &::before {
        content: '•';
        color: var(--primary-100);
        font-weight: 900;
        display: inline-block;
        width: 1em;
        margin-left: -2em;
        margin-right: 1rem;
      }
    }
  }

  @include respond(laptop_s) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  @include respond(tablet) {
    padding: $padding-3 0;
  }
}
