.card {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  border: $border-s;
  border-color: transparent;

  @include respond-gt(laptop_s) {
    &:hover {
      box-shadow: $shadow_2;

      @include glassEffect;
    }
  }

  @include respond(laptop_s) {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-left: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.company {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;

  p {
    color: var(--color-text-1);
    font-weight: 500;
  }

  a {
    display: flex;
    align-items: baseline;
  }
}

.title {
  color: var(--color-text-1);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: $font-family-heading;
  line-height: 1.3;
  white-space: nowrap;
  text-transform: uppercase;
}

.period {
  margin-right: 2rem;
  color: var(--color-text-3);
  font-size: 0.9rem;
  letter-spacing: 0px;
  white-space: nowrap;
  opacity: 0.9;
}
