.card {
  position: relative;
  width: 100%;
  padding-left: 3rem;
  margin-bottom: 3rem;

  @include respond(tablet) {
    padding-left: 0;
  }

  &::after {
    position: absolute;
    z-index: 99;
    top: 0;
    left: -11px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--on-surface-400);
    content: '';

    @include respond(tablet) {
      display: none;
    }
  }

  @include respond(tablet) {
    width: 100%;
  }
}

.title {
  color: var(--primary-100);
  font-size: 1.2rem;
}

.period {
  color: var(--on-surface-400);
  font-size: 1rem;
  font-weight: 200;
}

.description {
  margin-top: 1rem;
}
