.Title {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-md);
  color: var(--color-text-1);
  font-weight: 800;
  font-size: var(--font-size-4xl);
  line-height: 100%;

  .first {
    width: fit-content;
    overflow: hidden;

    span {
      background: var(--linear-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .second {
    overflow: hidden;
    white-space: nowrap;

    span {
      min-width: 0.7rem;
    }
  }
}

@include respond(large) {
  .Title {
    font-size: var(--font-size-3xl);
  }
}

@include respond(small) {
  .Title {
    font-size: var(--font-size-2xl);
    line-height: 1.3;
  }
}
