.Contact {
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;

    @include respond(laptop_s) {
      grid-template-columns: 1fr;
    }
  }

  .form {
    width: 100%;
    height: 100%;
    border: 1px solid var(--surface-700);
    border-radius: $radius_1;
    background-color: var(--surface-800);
    box-shadow: $shadow_3;
    @include padding;

    .row {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;

      @include respond(mobile_l) {
        gap: 0;
        grid-template-columns: 1fr;
      }
    }

    .feedback {
      margin-bottom: 1rem;
      color: var(--primary);
      @include font-size(0.7rem, 0.8rem);
    }

    .button {
      width: fit-content;
    }

    .container {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    .input {
      width: 100%;
      height: 60px;
      padding-left: 1rem;
      border: 1px solid var(--surface-600);
      border-width: 0.1px;
      border-radius: $radius_2;
      margin-bottom: 1rem;
      background: var(--surface-700);
      box-shadow: $shadow_1;
      color: var(--on-surface-100);

      @include font-size(0.9rem, 1rem);
      @include placeholder-color(var(--on-surface-300));

      @include respond(mobile_l) {
        height: 50px;
      }

      &:focus {
        outline: none;
      }
    }

    .text-area {
      width: 100%;
      height: 100%;
      max-height: 260px;
      padding-top: 1rem;
      padding-left: 1rem;
      border: 1px solid var(--surface-600);
      border-width: 0.1px;
      border-radius: $radius_2;
      margin-bottom: 1rem;
      background: var(--surface-700);
      box-shadow: $shadow_1;
      color: var(--on-surface-100);
      resize: none;

      @include font-size(0.9rem, 1rem);
      @include placeholder-color(var(--on-surface-300));

      @include respond(laptop_l) {
        max-height: 220px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .social {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond(mobile_l) {
      grid-template-columns: 1fr;
    }

    .icon {
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center;
      justify-content: center;
      padding: 10px 5px;
      border: 1px solid var(--surface-600);
      border-radius: $radius_2;
      background: var(--surface-700);
      box-shadow: $shadow_4;
      cursor: pointer;
      text-decoration: none;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.06);
      }

      @include respond(laptop_s) {
        &:hover {
          transform: unset;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
        @include font-size(1rem, 1.2rem);
        @include gradientText;

        path {
          fill: url(#my-cool-gradient) var(--primary);
        }
      }

      span {
        color: var(--on-surface-200);
        font-weight: 500;
        @include font-size(0.8rem, 0.9rem);
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--surface-700);
    border-radius: $radius_1;
    background: var(--surface-800);
    box-shadow: $shadow_3;
    @include padding;

    .name {
      color: var(--on-surface-200);
      font-weight: 600;
      text-align: center;
      @include font-size(2rem, 2.3rem);
    }

    .job {
      margin-bottom: 2rem;
      color: var(--on-surface-100);
      text-align: center;
      @include font-size(1rem, 1.3rem);
    }

    .middle {
      margin: 3rem 0;
    }

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      color: var(--on-surface-200);
      @include font-size(1rem, 1.1rem);

      svg {
        margin-right: 1rem;
        fill: url(#my-cool-gradient) var(--primary);
        @include font-size(1.3rem, 2rem);
      }
    }
  }
}
