.textArea {
  min-height: 100px;
  max-height: 500px;
  margin-top: 0.5rem;
  padding: 0.8rem 0;
  padding-left: 1rem;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius-2;
  color: var(--color-text-2);
  font-weight: 300;
  font-size: 1rem;
  background-color: transparent;
  transition: $transition;
  resize: none;
  resize: vertical;

  @include placeholder(rgba(var(--rgb-color-text-3), 0.3), 0.9rem);

  &:focus,
  &:active {
    outline: none;
  }

  @include respond(tablet) {
    min-height: 100px;
  }
}
