.textArea {
  margin-top: 0.5rem;
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: transparent;
  resize: none;

  @include placeholder(rgba(var(--rgb-on-surface-400), 0.5));

  &:focus,
  &:active {
    outline: none;
  }
}
