.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16%, 1fr));

  @include respond(laptop_s) {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  @include respond(mobile_l) {
    grid-template-columns: repeat(auto-fit, minmax(42%, 1fr));
  }
}
