.card {
  .content {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);
    width: 100%;
    min-width: 200px;
    height: fit-content;
    padding: var(--spacing-lg) 0;
    border-top: $border-l;
    border-bottom: $border-l;

    .info {
      .title {
        margin-bottom: var(--spacing-s);
        color: var(--color-text-1);
        font-weight: 600;
        font-size: var(--font-size-md);
        line-height: 1;
        white-space: nowrap;
      }

      .languages {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--spacing-s);

        .language {
          display: flex;
          align-items: center;
          color: var(--primary-100);
          font-weight: 500;
          font-size: var(--font-size-sm);
          letter-spacing: 0px;
        }
      }
    }

    .linkPlaceHolder {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);
      color: var(--color-text-1);
      white-space: nowrap;
    }
  }

  &:hover {
    .content {
      border-top-color: var(--primary-100);
      border-bottom-color: var(--primary-100);
    }
  }
}
