.card {
  position: relative;
  display: flex;
  gap: var(--spacing-m);
  width: 100%;
  min-width: 200px;
  height: fit-content;
  padding: 0rem;
  border: $border-s;
  border-color: transparent;
  border-radius: $radius-s;
  transition: all 0.2s ease-in-out;

  .content {
    position: static;
    flex: 2;
    flex-grow: 3;

    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--spacing-m);
      margin-bottom: var(--spacing-s);
    }

    .title {
      color: var(--color-text-1);
      font-weight: 600;
      font-size: var(--font-size-md);
      line-height: 1;
      white-space: nowrap;
    }

    .description {
      margin-bottom: var(--spacing-m);
      color: var(--color-text-3);
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: var(--spacing-m);

      .language {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        margin-bottom: var(--spacing-xs);
        color: var(--primary-100);
        font-weight: 400;
        font-size: var(--font-size-sm);
        line-height: 1;
        letter-spacing: 0px;

        .dot {
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          margin-right: var(--spacing-xs);
          border-radius: 50%;
          background-color: var(--primary-100);
        }
      }
    }
  }

  .image {
    position: relative;
    display: flex;
    flex: 1;
    flex-grow: 2;
    height: fit-content;

    img {
      width: 100%;
      height: auto;
      border: $border-l;
      aspect-ratio: 16/9;
    }
  }
}

@include respond(medium) {
  .card {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }
}

@include respond(small) {
  .card {
    .image {
      img {
        max-width: unset;
      }
    }
  }
}

@include respond-gt(medium) {
  .card {
    &:hover {
      @include glassEffect;

      padding: var(--spacing-m);

      .image {
        img {
          border-color: var(--primary-100);
        }
      }

      button[aria-label='Open website'] {
        color: var(--primary-100) !important;
      }
    }
  }
}
