@mixin slideUpAndFadeIn {
  opacity: 0;
  transform: translateY(40px) scale(0.95);

  &--onScreen {
    animation: slideUpAndFadeIn 0.3s ease-in-out forwards;
  }
}

@keyframes slideUpAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
