* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-3);
  font-family: "Montserrat", sans-serif;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

.color-red {
  color: var(--color-2);
}

button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;

  @include respond(laptop_l) {
    font-size: 18px;
  }
}

html[data-theme='dark'] {
  --color-1: rgb(33, 36, 40);
  --color-2: rgb(255, 1, 79);
  --color-3: rgb(156, 172, 179);
  --color-4: rgb(63, 61, 86);
  --color-5: rgb(245, 245, 245);
}

html[data-theme='light'] {
  --color-1: rgb(255, 255, 255);
  --color-2: rgb(255, 1, 79);
  --color-3: rgb(41, 44, 46);
  --color-4: rgb(162, 158, 212);
  --color-5: rgb(33, 36, 40);

}