@import './theme';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-size-adjust: 100%;
}

body {
  position: relative;
  background-color: var(--surface-900);
  color: var(--on-surface-100);
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  color: var(--on-surface-100);
  text-decoration: none;
}

.color-red {
  color: var(--primary);
}

button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;

  @include respond(laptop_l) {
    font-size: 18px;
  }
}
