* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --color-1: #292929;
  --color-2: #f53844;
  --color-3: rgb(198, 211, 216);
  --color-4: #42378f;
  --color-5: rgb(245, 245, 245);

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-size-adjust: 100%;
}

body {
  position: relative;
  background-color: var(--color-1);
  color: var(--color-3);
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  color: var(--color-3);
  text-decoration: none;
}

.color-red {
  color: var(--color-2);
}

button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;

  @include respond(laptop_l) {
    font-size: 18px;
  }
}
