.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;

  h1 {
    margin-bottom: var(--spacing-m);
    color: var(--color-text-3);
    font-size: 4.5rem;
    line-height: 1.2;

    &::first-line {
      color: var(--color-text-1);
      font-weight: 600;
    }
  }

  .subtitle {
    max-width: 600px;
    margin-bottom: var(--spacing-xl);
    color: var(--color-text-2);
    animation-delay: 0.15s;

    a {
      color: var(--primary-100);
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-m);

    .button {
      @include button;

      &:first-child {
        @include buttonPrimary;
      }
    }
  }
}

@include respond(medium) {
  .Banner {
    h1 {
      font-size: 2.5rem;
      text-align: left;
    }

    .subtitle {
      text-align: left;
    }

    .buttons {
      justify-content: flex-start;
      gap: var(--spacing-s);
    }
  }
}

@include respond(small) {
  .Banner {
    padding-top: 120px;

    .subtitle {
      line-height: normal;
    }
  }
}
