.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  h1 {
    margin-bottom: 2rem;
    color: var(--color-text-1);
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;

    strong {
      color: var(--primary-100);
    }
  }

  .subtitle {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: var(--color-text-2);
    text-align: center;
    animation-delay: 0.15s;

    a {
      color: var(--primary-100);
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .button {
      @include button;

      &:first-child {
        @include buttonPrimary;
      }
    }
  }
}

@include respond(tablet) {
  .Banner {
    h1 {
      font-size: 2.5rem;
      text-align: left;
    }

    .subtitle {
      text-align: left;
    }

    .buttons {
      justify-content: flex-start;
      gap: 0.5rem;
    }
  }
}

@include respond(mobile_l) {
  .Banner {
    .subtitle {
      line-height: normal;
    }
  }
}

@include respond(mobile_s) {
  .Banner {
    padding-top: 120px;

    .subtitle {
      font-size: 0.95rem;
    }
  }
}
