.Banner {
  h1 {
    @include font-size(2.2rem, 4.5rem);

    max-width: 750px;
    margin-bottom: 1rem;
    color: var(--color-text-1);
    line-height: 1.4;
    animation-delay: 0.1s;

    strong {
      color: var(--primary-100);
    }

    @include respond(mobile_l) {
      left: -1px;
    }
  }

  .subtitle {
    margin-bottom: 2rem;
    color: var(--color-text-3);
    font-size: 1.3rem;
    animation-delay: 0.15s;
  }
}
