name: Lighthouse Audit

on:
  workflow_run:
    workflows: ['Deploy']
    types:
      - completed

jobs:
  lighthouse:
    if: ${{ github.event.workflow_run.conclusion == 'success' && vars.SITE_URL != '' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@03becbfc543944dd6e7534f7ff768abb8a296826 # v10
        with:
          urls: |
            ${{ vars.SITE_URL }}
          configPath: ''
          uploadArtifacts: true
          temporaryPublicStorage: true

  skip-reason:
    if: ${{ !(github.event.workflow_run.conclusion == 'success' && vars.SITE_URL != '') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: echo "Skipping Lighthouse. Either Deploy failed or SITE_URL is not set."
