@mixin slideUpAndFadeIn {
  opacity: 0;
  transform: translateY(40px);
  will-change: transform, opacity;

  &--onScreen {
    animation: slideUpAndFadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  }

  @include respond(tablet) {
    animation-delay: 0ms !important;
  }
}

@keyframes slideUpAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container {
  @include slideUpAndFadeIn;
}
